#urllib3
#six,
#pyasn1
protobuf
#packaging
#idna
grpcio
google-crc32c
#charset-normalizer
#certifi
#cachetools
#rsa
#requests
#python-dateutil
#pyasn1-modules
proto-plus
googleapis-common-protos
google-resumable-media
#deprecation
splunk-sdk
grpcio-status
google-auth
google-api-core
google-cloud-core
google-cloud-bigquery
